@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/*Reset de propriedades */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #EDECED;
    color: gray;
}

/* configurações genéricas*/

.grid-layout {
    width: 80%; 
    max-width: 1200px; /* limite máximo de largura */
    min-width: 992px; /*limite mínimo de largura*/
    margin: 0 auto;
}
/* CABEÇALHO */
header {
    background-color: grey;
}

header h1 {
    color: white;
    font-weight: 300;
    width: 130px;
}

header .header-flex {
    display: flex;
    justify-content: space-between;

}

header h1 #logoux {
    font-weight: 600;
    font-style: italic;
}

header nav {
width: 200px;
display: flex;
justify-content: space-between;
align-items: center;
}

header nav a {
color: white;
text-decoration: none;
}

/* MAIN */

main .colunas-flex {
    margin-top: 20px;
display: flex;
justify-content: space-between;
}

/* section com class coluna1 */
main .coluna1 {
    width: 75%;
    background-color: white;
}

main .coluna1 h2 {
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 20px;
}

main .coluna1 p {
margin-left: 20px;
margin-right: 20px;
margin-bottom: 20px;

line-height: 20px;

}

main .coluna1 #lapis {
    width: 100%;

}

/* aside com class coluna2 */
main .coluna2 {
    width: 20%;
}

 main .coluna2 article {
     background-color: white;
 }

 /* FOOTER */

 footer {
     padding-top: 20px;
     padding-right: 0;
     padding-bottom: 20px;
     padding-left: 0;

     padding: 0; /* top right bottom left*/
     padding: 0 20px; /* top/bottom right/left */
     padding: 0 20px 40; /* top right/left bottom */
     padding: 10px 10px 10px 10px; /* top right bottom left*/

     padding: 20px;

     color: white;
     background-color: #676767;

 }

 aside {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }